body {
  font-family: Arial, sans-serif;
}
h1{
  display: inline;
 }

img{
  width: 100px;
  height: auto;
  margin-left: 10px; /* Add some margin for spacing */
}
h1,img {
  display: inline;
  vertical-align: middle; /* Align motor boxes at the top */
}
header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}
 /* Style for motor boxes */
 .motor-box {
  border: 5px solid #515151;
  background-color: rgb(89, 89, 89);
  color: white;
  padding: 10px;
  margin: 10px;
  width: 150px;
  height: 170px;
  border-radius: 1px;
  position: relative;

  display: inline-block; /* Display motor boxes inline */
  vertical-align: top; /* Align motor boxes at the top */
}
.checker-box {
  border: 0px solid black;
  background-color: rgb(205, 93, 93);
  color: white;
  padding: 5px;
  margin: 5px;
  width: 100px;
  border-radius: 10px;
  position: relative;

  display: inline-block; /* Display motor boxes inline */
  vertical-align: top; /* Align motor boxes at the top */
}

.addMotorButton{
  border: 2px solid black;
  background-color: rgb(94, 94, 94);
  color: white;
  padding: 10px;
  margin: 10px;
  width: 150px;
  border-radius: 10px;
  position: relative;

  display: inline-block; /* Display motor boxes inline */
  vertical-align: top; /* Align motor boxes at the top */
}

.motor-box p {
  margin: 0;
}

/* Style for motor type select dropdown */
.type-select {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgb(58, 58, 58);
  color: white;
}
/* Style for motor value input */
.value-input {
  width: calc(100% - 20px); /* Adjust width to fit within the box */
  background-color: rgb(56, 55, 55);
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.addmotorbutton {

  background-color: rgb(56, 55, 55);
  color: white;
  margin-bottom: 10px;
}


.units{
  display: inline-block; 
}

/* Style for selected motor boxes */
.selected {
  background-color: rgb(35, 35, 35); /* Change background color when selected */
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100px; 
}

.input-group label {
  margin-right: 10px;
}
#address{
  width: 50px;
  background-color: rgb(56, 55, 55);
  color: white;
}
.logo{
  display: block;

}


#motorContainer{
  display: inline-flex;
  align-items: center;
}