body {
  font-family: Arial, sans-serif;
}
h1{
  display: inline;
  font-size: large;
 }

img{
  width: 30%;
  height: auto;
  margin-left: 10px; /* Add some margin for spacing */
}
h1,img {
  display: inline-flex;
  vertical-align: middle; /* Align motor boxes at the top */
}
header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

 /* Style for motor boxes */
 .motor-box {
  border: 5px solid #ffffff;
  background-color: rgb(89, 89, 89);
  color: white;
  padding: 10px;
  margin: 0px;
  width: 150px;

  border-radius: 1px;
  position: relative;

  display: inline-block; /* Display motor boxes inline */
  vertical-align: top; /* Align motor boxes at the top */
}
.checker-box {
  border: 0px solid black;
  background-color: rgb(205, 93, 93);
  color: white;
  padding: 5px;
  margin: 5px;
  width: 100px;
  border-radius: 10px;
  position: relative;

  display: inline-block; /* Display motor boxes inline */
  vertical-align: top; /* Align motor boxes at the top */
}

.addMotorButton{
  border: 2px solid black;
  background-color: rgb(94, 94, 94);
  color: white;
  padding: 10px;
  margin: 0px;
  width: 150px;
  border-radius: 10px;
  position: relative;

  display: inline-block; /* Display motor boxes inline */
  vertical-align: top; /* Align motor boxes at the top */
}

.motor-box p {
  margin: 0;
}

/* Style for motor type select dropdown */
.type-select {
  width: 50%;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgb(58, 58, 58);
  color: rgb(255, 255, 255);
  border-color: rgb(71, 71, 71);
}
/* Style for motor value input */
.value-input {
  width: 50%; /* Adjust width to fit within the box */
  background-color: rgb(56, 55, 55);
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.addmotorbutton {

  background-color: rgb(56, 55, 55);
  color: white;
  margin-bottom: 10px;
}
#addMotorForm{
  background-color: rgb(193, 193, 193);
}

.units{
  display: inline-block;
  
  
}

/* Style for selected motor boxes */
.selected {
  background-color: rgb(35, 35, 35); /* Change background color when selected */
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100px; 
}

.input-group label {
  margin-right: 10px;
}
#address,#value{
  width: 40px;
}
#address,#type,#value {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#type{
  border-color: rgb(205, 205, 205);
}
.logo{
  display: inline-block;
  align-self:flex-start
}

#headlist{
  display: inline-flex;
  
}

#errorContainer{
  font-size: small;
  margin: 5px;
  color: rgb(186, 0, 0);
}

.restartbtn,.stopbtn,.selectallbtn,.openallbtn,.closeallbtn{
  background-color: rgb(69, 243, 69);
  padding: 20px;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 70px;
}
.stopbtn{
  background-color: rgb(225, 14, 39);
}
.selectallbtn{
  background-color: rgb(73, 101, 240);
}
.openallbtn,.closeallbtn{
  background-color: rgb(175, 175, 175);
}

.active-restart{
  background-color: rgb(38, 172, 38);
  
}
.active-stop{
  background-color: rgb(126, 6, 20);
}
.active-selectall{
  background-color: rgb(38, 7, 132);
}

.active-open-close-all{
  background-color: rgb(124, 124, 124);
}

